<!--
  Generated template for the UsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding>

    <ion-card>
        <h1 class="titulo">iae</h1>
        {{pessoa}}
    </ion-card>

</ion-content>