<ion-content>

    <h1 class="titulo">Login</h1>



    <ion-list class="formulario">
        <ion-item>
            <ion-label color="secondary" stacked>nome de usuario</ion-label>
            <ion-input type="email" placeholder="nome"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="secondary" stacked>senha</ion-label>
            <ion-input type="password" placeholder="senha"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button color="secondary" (click)="login()">Login</button><br>
    <button ion-button color="secondary" clear>Criar Conta</button>




</ion-content>