page-contact {
    @import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
    .titulo {
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
    }
    .formulario {
        padding-top: 10%;
    }
}