<ion-content padding>
    <h1 class="titulo"> Scamboo</h1>
    <ion-item class="caixaPesquisa">
        <ion-input placeholder="O que você está procurando?" clearInput></ion-input>
    </ion-item>


    <ion-card>
        <ion-list>
            <ion-card-header class="titulo">Filtros</ion-card-header>
            <ion-item>
                <ion-label>Novos</ion-label>
                <ion-checkbox color="secondary" checked="false"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Usados</ion-label>
                <ion-checkbox color="secondary" checked="false"></ion-checkbox>
            </ion-item>

            <ion-item>
                <ion-label>Cidade</ion-label>
                <ion-select [(ngModel)]="cidade" cancelText="voltar" okText="ok">
                    <ion-option value="bacon" selected="true">Campina Grande</ion-option>
                    <ion-option value="olives">João Pessoa</ion-option>

                </ion-select>
            </ion-item>
        </ion-list>

    </ion-card>

    <button ion-button color="secondary" clear full (click)="nav()">Perquisar</button>
</ion-content>