page-home {
    .titulo {
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
    }
    .caixaPesquisa {
        padding-top: 10%;
    }
    .alert-md [aria-checked=true] .alert-radio-icon {
        border-color: #32db64;
        color: #32db64
    }
    .alert-md .alert-radio-inner {
        background-color: #32db64;
    }
    @import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
}